<title>Sean Gervais Resume Mountain Visualization</title>
<rect x="0" y="0" fill="#EFEFEF" {{bind-attr width=vbWidth height=vbHeight}}/>
<g class="clouds" {{bind-attr transform=transformG}}></g>
<g class="jobs" {{bind-attr transform=transformG}}></g>