@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import "bower_components/modularized-normalize-scss/normalize";
@import "bower_components/bourbon/dist/bourbon";


$body-bg: #EFEFEF;
$body-font-color: navy;
$body-font-family: $helvetica;
$header-font-family: 'Oswald', $helvetica;
$header-font-color: navy;



* {
	@include box-sizing(border-box);
}


html, body {
	margin: 0;
	padding: 0;

	@include size(100% 100%);
	overflow: hidden;

	background: $body-bg;
	color: $body-font-color;
	font-family: $body-font-family;
}


.ember-application {

	>.ember-view {
		margin: 0 auto;
		padding: 0 .5rem;

	}

	h1, h2, h3, h4, h5 {
		font-family: $header-font-family;
		color: $header-font-color;
		
	}

	hr {
		margin: .5rem auto;
		border: 0 solid $body-font-color;
		border-width: 2px 0;
		width: 100%;

	}


	.pageHeader {
		@include size(auto 10vh);

		h1 {
			font-size: 6.5vh;
			margin:0;
		}

	}

	.pageMain {
		@include size(auto 80vh);
		overflow: auto;

	}

	.pageFooter {
		@include size(auto 10vh);

	}
}

.resume {
	position: relative;

	>.areaNav {
		@include size(auto 3vh);
		background: $body-font-color;

		.navItem {
			padding: 0 .5rem;
			@include size(auto 3vh);
			line-height: 1;
			vertical-align: middle;

			display: table-cell;
			font-size: 1.7vh;
			font-weight: bold;
			color: white;
		}

	}

	>.area {
		@include size(auto 77vh);

		nav.content {
			float: left;

			@include size(30% 100%);

			@include transition(transform 500ms);

			&.hide {
				//display:none;
				@include transform(translateX(-100vw));
			}
			&.show {
				//display:block;
				@include transform(translateX(0));
			}		
		}

		.detail {
			float: left;
			@include size(70% 100%);
			overflow: auto;
		}

		.skillList {
			padding: 0 1rem;

			.skill {
				&:after {
				  content: ', ';
				}

				//ember adds lots of extra tags... so cannot use last-child
				&:last-of-type {
					&:after {
						content: '';
					}
				}
			}
		}

		&.summary {
			padding: 0 1rem;
		}

	}


}

.inlineLabel {
	font-size: 1em;
	font-family: $header-font-family;
	font-weight: 700;
}

.centered {
	text-align: center;
}

.hideFromView {
    position: absolute;
    top: -500vh;
    left: -500vh;
}


.clouds {
	.cloud {
		opacity: .9;
		font-family: $header-font-family;
	}
}
