$body-bg: none;
$body-font-color: navy;
$header-font-family: 'Oswald', Helvetica, Arial, sans-serif;
$header-font-color: navy;

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import "bower_components/foundation/scss/normalize.scss";
@import "bower_components/foundation/scss/foundation.scss";
@import "bower_components/bourbon/dist/bourbon";




html {

	@include radial-gradient(ellipse at center,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%, $fallback: rgba(99,147,193,1));

	background-attachment:fixed;

	margin:0;
	padding:0;

}


body {
	padding: 20px;

	h2 {
		text-decoration: underline;
	}

	hr {
		width:100%;
	}
}

.inlineLabel {
	font-size: 1.2em;
	font-weight: bold;
}
