@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import "bower_components/modularized-normalize-scss/normalize";
@import "bower_components/bourbon/dist/bourbon";


$body-bg: #EFEFEF;
$body-font-color: navy;
$body-font-family: $helvetica;
$header-font-family: 'Oswald', $helvetica;
$header-font-color: navy;



* {
	box-sizing:border-box;
}


html, body {
	margin:0;
	padding:0;

	width:100%;	
	height:100%;
	overflow:hidden;

	background: $body-bg;
	color: $body-font-color;
	font-family: $body-font-family;
}


.ember-application {

	>.ember-view {
		margin:0 auto;
		height:100%;
		padding: 0 .5rem;
	}

	h1, h2, h3, h4, h5 {
		font-family: $header-font-family;
		color: $header-font-color;
	}

	hr {
		margin:.5rem auto;
		border: 0 solid $body-font-color;
		border-width: 2px 0;
		width: 100%;

	}
}

.inlineLabel {
	font-size: 1em;
	font-family: $header-font-family;
	font-weight: 700;
}

.centered {
	text-align:center;
}
