@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import "bower_components/modularized-normalize-scss/normalize";
@import "bower_components/bourbon/dist/bourbon";


$body-bg: none;
$body-font-color: navy;
$body-font-family: $helvetica;
$header-font-family: 'Oswald', $helvetica;
$header-font-color: navy;






html {

	@include radial-gradient(ellipse at center,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%, $fallback: rgba(99,147,193,1));

	background-attachment:fixed;

	margin:0;
	padding:0;

}


body {
	
	color: $body-font-color;
	font-family: $body-font-family;

	padding: 20px;

	h1, h2, h3, h4, h5 {
		font-family: $header-font-family;
		color: $header-font-color;
	}

	h2 {
		text-decoration: underline;
	}

	hr {
		width:100%;
	}
}

.inlineLabel {
	font-size: 1em;
	font-family: $header-font-family;
	font-weight: 700;
}
