@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import "bower_components/modularized-normalize-scss/normalize";
@import "bower_components/bourbon/dist/bourbon";


$body-bg: #EFEFEF;
$body-font-color: navy;
$body-font-family: $helvetica;
$header-font-family: 'Oswald', $helvetica;
$header-font-color: navy;



* {
	@include box-sizing(border-box);
}


html, body {
	margin: 0;
	padding: 0;

	@include size(100% 100%);
	overflow: hidden;

	background: $body-bg;
	color: $body-font-color;
	font-family: $body-font-family;
}


.ember-application {

	>.ember-view {
		margin: 0 auto;
		height: 100%;
		padding: 0 .5rem;
	}

	h1, h2, h3, h4, h5 {
		font-family: $header-font-family;
		color: $header-font-color;
	}

	hr {
		margin: .5rem auto;
		border: 0 solid $body-font-color;
		border-width: 2px 0;
		width: 100%;

	}
}

.resume {
	position: relative;

	>.area {
		//background: rgba(255,0,0,.5);
	}

	.content {
		@include transition (transform 500ms);

		&.hide {
			//display:none;
			@include transform(translateX(-100vw));
		}
		&.show {
			//display:block;
			@include transform(translateX(0));
		}		
	}
}

.skillList {
	.skill {
		&:after {
		  content: ', ';
		}

		//ember adds lots of extra tags... so cannot use last-child
		&:last-of-type {
			&:after {
				content: '';
			}
		}
	}
}

.inlineLabel {
	font-size: 1em;
	font-family: $header-font-family;
	font-weight: 700;
}

.centered {
	text-align: center;
}

.hideFromView {
    position: absolute;
    top: -500vh;
    left: -500vh;
}


.clouds {
	.cloud {
		opacity: .9;
		font-family: $header-font-family;
	}
}
