<section class="area summary">
	<h2 class="title hideFromView">Summary</h2>
	<div class="content">
		<p>I am a designer, developer, mentor and team lead with a passion for creating software to help people in the real world. With over 18 years of experience focused on web user interfaces, I'm versed in all aspects of software development from visual design and usability to architecture and implementation. I am looking for a role that blends good design, quality development and passionate team members with creative and innovative deliverables.</p>
	</div>
</section>