<h2>Experience</h2>

{{#each job in arrangedContent}}
<section class="job">
<header>
<h3 class="jobTitle"> {{job.title}}</h3>
<h4 class="company"> {{job.company}} </h4>
</header>
<hr>
</section>
{{/each}}