<section class="experience">
<header>
	<h2>Experience</h2>
</header>

<nav>
<ul>
{{#each arrangedContent}}
<li>{{#link-to 'jobs.job' id}}{{company}}{{/link-to}}</li>
{{/each}}
</ul>
</nav>
{{outlet}}
</section>
<hr>


<aside><nav>Go to {{#link-to 'index'}}Home{{/link-to}}</nav></aside>