<section class="ouline">
	<section class="summary">
		<h2>Summary</h2>
	</section>
	<section class="experience">
		<h2>Experience</h2>
		<nav>
			<ul>
			{{#each arrangedContent}}
				<li>{{#link-to 'jobs.job' id}}{{company}}{{/link-to}}</li>
			{{/each}}
			</ul>
		</nav>
	</section>

	<section class="skills">
		<h2>Skills</h2>
	</section>

	<section class="education">
		<h2>Education</h2>
	</section>
</section>

{{outlet}}

<footer class="pagefoot">
	<hr>
	<nav>Go to {{#link-to 'index'}}Home{{/link-to}}</nav>
</footer>