<h2>Mountains</h2>

<div class="centered">{{mountain-graph height="200" width="800" data=content}}</div>

{{#each todo in arrangedContent itemController="jobitem"}}
<div>{{todo.company}} - {{todo.startDateLabel}}</div>
{{/each}}




<hr>

<aside><nav>Go to {{#link-to 'index'}}Home{{/link-to}}</nav></aside>